/*******************
* front footer
*******************/
footer {
    background: #9A7575;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
  }